/* reminder: choose cute font later */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: pink;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 90%;
  background-color: aliceblue;
  border-radius: 10px;
}
.carousel {
  position: relative;
  overflow: hidden;
  padding: 0 10%; /* Creates space for peeking */
}

.song-list {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
}

.song {
  flex: 0 0 80%; /* Take 80% of visible area */
  margin: 0 10px; /* Gives space between slides */
  box-sizing: border-box;
  padding: 35px;
  border-radius: 8px;
  background-color: rgb(209, 223, 250);
}

.song-image {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.song-name,
.artist-name {
  font-size: 1.2em;
  color: #333;
}
