body {
  font-family: "Boldonse", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 20px;
  background-color: pink;
}

.container {
  text-align: center;
  width: 100%;
  max-width: 900px; /* Fixed max width for desktop */
  background-color: aliceblue;
  border-radius: 10px;
  padding: 10px;
  height: auto;
  max-height: 700px;
  box-sizing: border-box;
}

.carousel {
  position: relative;
  overflow: hidden;
  height: 100%;
  padding: 0 25%; /* see half of the songs on either side */
}

.song-list {
  display: flex;
  transition: transform 0.5s ease;
  will-change: transform;
  height: 100%;
}

.song {
  flex: 0 0 90%; /* make songs not grow/shrink to fit containter - only 90%*/
  margin: 0 10px;
  box-sizing: border-box;
  padding: 15px;
  border-radius: 8px;
  background-color: rgb(209, 223, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.song-image {
  width: 100%;
  height: auto;
  max-height: 75%;
  object-fit: contain;
}

.song-name,
.artist-name {
  font-size: 1em;
  color: #333;
  margin: 5px 0;
}

/* style for controls and indicator dots below carosel*/

.controls {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.arrows {
  font-size: 2rem;
  padding: 5px;
  background-color: #fcddec;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.indicators {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.indicator-dot {
  width: 10px;
  height: 10px;
  background-color: #888;
  border-radius: 50%;
  transition: all 0.3s ease;
  opacity: 0.6;
}

.indicator-dot.active {
  width: 12px;
  height: 12px;
  background-color: #333;
  opacity: 1;
}

/* style for the record button and animation to make it spin */

.auto-advance-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

#auto-advance-btn {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: inline-block; /* make the button stays the same size as the image */
}

#auto-advance-img {
  width: 50px; 
  height: auto;
  transition: transform 0.3s ease; /
}


/* need Keyframe animation for continuous spin */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: spin 3s linear infinite; /* make rotation 3 seconds per full rotation */
}


/* Make the carousel fit on mobile */
@media (max-width: 600px) {
  .carousel {
    padding: 0 15%;
  }

  .song {
    flex: 0 0 70%;
  }
  .song-name,
  .artist-name {
    font-size: 0.7em;
    color: #333;
    margin: 5px 0;
  }
}
